:root {
  --main-dark: #000000;
  --main-gray: #8491a0;
  --light-dark: #181823;
  --light-gray: #deecf9;
  --dark-gray: #c7e0f4;
  --main-white: #fff;
  --purple-color: #5221e6;
  --green-color: #3cc74e;
  --pink-color: #e95d90;
  --yellow-color: #fff3e4;
  --violet-color: #fbe4ff;
}
body {
  font-family: "Sen";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: var(--main-white);
}
/* reset */
h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
/* utils */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.section {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}
.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
/* Header section*/
.header-section {
  position: absolute;
  z-index: 100;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);

  outline: 2px solid yellow;
}
.header-container {
  padding-left: 72px;
  padding-right: 72px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__logo {
  margin-right: auto;
}
.nav-list {
  display: flex;
}
.nav__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 24px;
  padding-left: 24px;

  transition: background-color 250ms linear;

  color: var(--main-white);
}
.nav__link:hover,
.nav__link:focus {
  background-color: var(--purple-color);
}
.nav__link--selected {
}
/* Hero section */
.hero {
}
/* .grey-color {
  background-color: #181823;
} */
.hero-container {
  padding-top: 158px;
  padding-bottom: 82px;
  padding-right: 40px;

  background-color: var(--main-dark);

  border-bottom: 7px dashed grey;
}
.hero-img {
  width: 750px;
  height: 650px;
}
.hero-text-wrapper {
  position: absolute;
  left: 702px;
  top: 299px;
}
.hero__header {
  width: 738px;
  font-weight: 700;
  font-size: 78px;
  line-height: calc(94 / 78);

  margin-bottom: 32px;

  color: #ffffff;
}

.hero__span {
  color: rgba(255, 255, 255, 0.5);
}
.hero__description {
  width: 738px;
  font-size: 18px;
}
/* Companies */
.companies {
}
.companies-container {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-right: 72px;
  padding-left: 72px;

  background-color: var(--main-dark);
}
.companies__title {
  font-weight: 700;

  text-transform: uppercase;

  margin-bottom: 8px;

  color: var(--main-gray);
}
.companies__header {
  width: 690px;

  font-weight: 700;
  font-size: 55px;
  line-height: calc(66 / 55);

  margin-bottom: 40px;
}
.companies__list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.companies__item {
}
.companies__icon {
  fill: var(--main-gray);
}
.companies-wrapper {
  padding-right: 48px;
}
.companies__job {
  font-weight: 700;
  font-size: 24px;

  margin-bottom: 22px;
}
.companies__span {
}
.companies__span--green {
  color: var(--green-color);
}
.companies__span--blue {
  color: #609bff;
}
.companies__span--pink {
  color: var(--pink-color);
}
.companies__description {
  width: 368px;

  color: var(--main-gray);
}
/* values section */
.values-container {
  display: flex;
  align-items: center;
}
.values-wrapper {
  background-color: var(--yellow-color);
  padding: 120px 72px;
  width: 50%;
}
.values__header {
  font-weight: 700;
  font-size: 55px;
  line-height: calc(66 / 55);

  margin-bottom: 24px;

  color: var(--light-dark);
}
.values__description {
  width: 576px;

  font-size: 18px;

  margin-bottom: 134px;

  color: #5b6876;
}
.values__link {
  position: relative;
  display: block;

  color: var(--light-dark);
}
.values__img {
  background-color: var(--yellow-color);
}
.values__link::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 0;
  width: 116px;
  height: 1px;

  background-color: var(--main-gray);
}
/* skills */
.skills-container {
  display: flex;
  padding: 120px 72px;

  background-color: var(--main-dark);
}
.skills-header {
  padding-right: 48px;
  margin-right: 24px;
}
.skills-header__title {
  font-weight: 700;
  font-size: 55px;
  line-height: calc(66 / 55);

  margin-bottom: 24px;
}
.skills-header__description {
  width: 368px;
  font-size: 18px;

  color: var(--main-gray);
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.skills__item {
  padding-right: 48px;
  width: calc((100% - 24px) / 2);
}
.skills__icon {
  margin-bottom: 24px;
}
.skills__job {
  margin-bottom: 12px;
}
.skills__description {
  width: 368px;
  color: var(--main-gray);
}
