:root {
   --main-dark: #000000;
   --main-gray: #8491a0;
   --light-dark: #181823;
   --light-gray: #deecf9;
   --dark-gray: #c7e0f4;
   --main-white: #fff;
   --purple-color: #5221e6;
   --green-color: #3cc74e;
   --pink-color: #e95d90;
   --yellow-color: #fff3e4;
   --violet-color: #fbe4ff;
}
body {
   font-family: 'Sen';
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;

   color: var(--main-white);
}
/* reset */
h1,
h2,
h3,
ul,
li,
p {
   margin: 0;
   padding: 0;
}
/* utils */
img {
   display: block;
   max-width: 100%;
   height: auto;
}
.list {
   list-style: none;
}
.link {
   text-decoration: none;
}
.section {
   max-width: 1920px;
   margin-right: auto;
   margin-left: auto;
}
.container {
   width: 1440px;
   /* outline: 2px solid green; */
   margin-left: auto;
   margin-right: auto;
}
.visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}
/* Header section*/
.header {
   position: absolute;
   z-index: 100;
   text-align: center;
   left: 50%;
   transform: translateX(-50%);

   outline: 2px solid yellow;
}
.header__container {
   padding-left: 72px;
   padding-right: 72px;
}
.nav {
   display: flex;
   align-items: center;
   justify-content: center;
}
.logo {
   display: block;
}
.nav__logo {
   margin-right: auto;
}

.nav__list {
   display: flex;
}
.nav__link {
   display: inline-block;
   padding-top: 32px;
   padding-bottom: 32px;
   padding-right: 24px;
   padding-left: 24px;

   transition: background-color 250ms linear;

   color: var(--main-white);
}
.nav__link:hover,
.nav__link:focus {
   background-color: var(--purple-color);
}
/* Hero section */
.hero {
   padding-top: 158px;
   padding-right: 40px;

   background-color: var(--main-dark);
}
.hero__container {
   border-bottom: 7px dashed grey;
   padding-bottom: 82px;
}
.hero__img {
   width: 750px;
   height: 650px;
}
.hero__text-wrapper {
   position: absolute;
   left: 702px;
   top: 299px;
}
.animate__backInRight {
   --animate-duration: 2s;
}
.hero__title {
   width: 738px;
   font-weight: 700;
   font-size: 78px;
   line-height: calc(94 / 78);

   margin-bottom: 32px;

   color: #ffffff;
}

.hero__grey {
   color: rgba(255, 255, 255, 0.5);
}
.hero__description {
   width: 738px;
   font-size: 18px;
}
/* Companies */
.companies {
   background-color: var(--main-dark);
}
.companies__container {
   padding-top: 120px;
   padding-bottom: 120px;
   padding-right: 72px;
   padding-left: 72px;
}
.companies__title {
   font-weight: 700;

   text-transform: uppercase;

   margin-bottom: 8px;

   color: var(--main-gray);
}
.companies__header {
   width: 690px;

   font-weight: 700;
   font-size: 55px;
   line-height: calc(66 / 55);

   margin-bottom: 40px;
}
.companies__list {
   display: flex;
   align-items: center;
   gap: 24px;
}
.companies__icon {
   fill: var(--main-gray);
}
.companies__wrapper {
   padding-right: 48px;
}
.companies__job {
   font-weight: 700;
   font-size: 24px;

   margin-bottom: 22px;
}
.companies__span {
}
.companies__span--green {
   color: var(--green-color);
}
.companies__span--blue {
   color: #609bff;
}
.companies__span--pink {
   color: var(--pink-color);
}
.companies__description {
   width: 368px;

   color: var(--main-gray);
}
/* values section */
.values {
   background-color: var(--yellow-color);
}
.values__container {
   display: flex;
   align-items: center;
}
.values__wrapper {
   padding: 120px 72px;
   width: 50%;
}
.values__header {
   font-weight: 700;
   font-size: 55px;
   line-height: calc(66 / 55);

   margin-bottom: 24px;

   color: var(--light-dark);
}
.values__description {
   width: 576px;

   font-size: 18px;

   margin-bottom: 134px;

   color: #5b6876;
}
.link--underline {
   position: relative;
   display: inline-block;

   padding-bottom: 4px;

   color: var(--light-dark);
}
.values__img {
   background-color: var(--yellow-color);
}
.link--underline::after {
   position: absolute;
   content: '';
   bottom: 0;
   left: 0;
   width: 100%;
   height: 1px;

   background-color: var(--main-gray);
}
/* skills */
.skills {
   padding: 120px 72px;

   background-color: var(--main-dark);
}
.skills__container {
   display: flex;
}
.skills__text-wrapper {
   padding-right: 48px;
   margin-right: 24px;
}
.skills-header__title {
   font-weight: 700;
   font-size: 55px;
   line-height: calc(66 / 55);

   margin-bottom: 24px;
}
.skills-header__description {
   width: 368px;
   font-size: 18px;

   color: var(--main-gray);
}
.skills__list {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 24px;
}
.skills__item {
   padding-right: 48px;
   width: calc((100% - 24px) / 2);
}
.skills__icon {
   margin-bottom: 24px;
}
.skills__job {
   margin-bottom: 12px;
}
.skills__description {
   width: 368px;
   color: var(--main-gray);
}
/* Brands */
.brands {
   background-color: var(--main-dark);
}
.brands__container {
}
.brands-slider__item {
   width: 349px !important;
   border: 1px solid var(--light-dark);

   transition: background-color 250ms linear;
}
.brands-slider__link {
   display: flex;
   justify-content: center;
   align-items: center;

   /* width: 340px; */
   height: 140px;
   background-color: transparent;
}
.brands-slider__item:hover,
.brands-slider__item:focus {
   background-color: var(--purple-color);
}
.slick-prev:before {
   content: '';
}
.slick-next:before {
   content: '';
}
/* Works */
.works {
   background-color: var(--main-dark);
}
.works__container {
   padding: 120px 72px;
}
/* grid */
.grid__container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(5, 1fr);
   grid-column-gap: 24px;
   grid-row-gap: 24px;
}

.grid__header-text {
   grid-area: 1 / 1 / 2 / 2;
}
.grid__div1 {
   grid-area: 1 / 2 / 3 / 3;
}
.grid__div2 {
   grid-area: 2 / 1 / 4 / 2;
}
.grid__div3 {
   grid-area: 3 / 2 / 5 / 3;
}
.grid__div4 {
   grid-area: 4 / 1 / 6 / 2;
}
.grid__div5 {
   grid-area: 5 / 2 / 7 / 3;
}
.grid-header-text__title {
   font-weight: 700;
   font-size: 16px;

   color: var(--main-gray);
}
.grid-header-text__description {
   width: 572px;
   font-weight: 700;
   font-size: 55px;
   line-height: calc(66 / 55);

   margin-bottom: 80px;
}

.grid__wrapper {
   width: 636px;
   padding: 40px 32px;

   background-color: var(--light-dark);
}
.grid__header {
   font-weight: 700;
   font-size: 24px;

   margin-bottom: 13px;
}

.grid__paragraph {
   width: 572px;
   font-size: 18px;

   color: #8491a0;
}
.button {
   font-weight: 700;
   font-size: 18px;

   text-transform: uppercase;
   text-align: center;
   cursor: pointer;

   color: var(--main-white);
   border: 1px solid var(--purple-color);
   background-color: transparent;

   transition: background-color 250ms linear;
}
.grid__button {
   padding: 24px 32px;
   margin-top: 91px;
   margin-left: 200px;
}
.button:hover,
.button:focus {
   background-color: var(--purple-color);
}
/* Instagram */
/* Values = Instagram */

/* Dribble */
.dribble {
   padding-top: 120px;
   padding-bottom: 120px;
   background-color: var(--main-dark);
}
.dribble__container {
   padding-right: 182px;
   padding-left: 182px;
}

.dribble__wrapper {
   margin-bottom: 120px;
}
.dribble__title {
   font-weight: 700;
   font-size: 55px;
   line-height: calc(66 / 55);

   margin-bottom: 24px;
}
.dribble__description {
   width: 636px;
   font-size: 18px;

   margin-bottom: 40px;

   color: var(--main-gray);
}
.dribble__link {
   color: var(--main-white);
}
/* Review section */
.reviews {
   background-color: var(--main-dark);
   padding: 120px 72px;
}
.reviews__container {
   display: flex;
   gap: 72px;
   justify-content: center;
}
.reviews__wrapper {
}
.reviews__title {
   width: 588px;

   font-weight: 700;
   font-size: 55px;
   line-height: calc(66 / 55);

   margin-bottom: 24px;

   color: var(--main-white);
}
.reviews__description {
   width: 588px;

   font-size: 18px;

   margin-bottom: 40px;

   color: var(--main-gray);
}
.reviews__link {
   color: var(--main-white);
}
.reviews__list {
}
.reviews__item {
}
.reviews__item:not(:last-child) {
   margin-bottom: 120px;
}
.reviews__img {
}
.reviews__list__wrapper {
   width: 636px;

   padding: 64px;

   border: 1px solid #5b6876;
}
.reviews__comment {
   width: 508px;

   font-weight: 700;
   font-size: 24px;

   margin-bottom: 64px;
}
.reviews__name {
   font-weight: 700;
   font-size: 18px;

   margin-bottom: 4px;

   color: #5b6876;
}
.reviews__company {
   font-weight: 700;
   font-size: 18px;

   color: #5b6876;
}
/* Photos section */
.photos {
   background-color: var(--main-dark);
}
.photos__container {
   padding: 120px 72px;
}
.photos__title {
   font-weight: 700;
   font-size: 55px;
   line-height: calc(66 / 55);

   margin-bottom: 24px;
}
.photos__description {
   width: 551px;

   margin-bottom: 64px;

   color: var(--main-gray);
}
.tabs {
   margin-bottom: 40px;
}
.tabs__button {
   display: inline-block;
   padding: 12px 16px;
}
.tabs__button:not(:last-child) {
   margin-right: 24px;
}
.tabs__button--active {
   background-color: var(--purple-color);
}
.photos__list {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 24px;
}
.photos__item {
}
.photos__img {
}
/* КОЛГОСП Типо таби на css + html ще не навчився робити правильно */
/* .photos-list {
  display: none;

  margin-bottom: 10px;
}

.photos-list:nth-child(1) {
}
.photos-list:nth-child(1)::before {
  background-color: var(--purple-color);
}
.photos-list:nth-child(2) {
}
.photos-list:nth-child(3) {
}
.photos-list:target {
  display: block;
}

.photos__item {
}
.photos__img {
  display: inline-block;
}
.photos__img:not(:last-child) {
  margin-right: 19px;
} */

/* Form */
.form {
   background-color: var(--main-dark);
}
.form__container {
   display: flex;
   gap: 29px;
   padding: 120px 182px;
}
.form__wrapper {
}
.form__title {
   font-weight: 700;
   font-size: 55px;
   line-height: calc(66 / 55);

   margin-bottom: 24px;

   color: #ffffff;
}
.form__description {
   width: 526px;

   color: var(--main-gray);
}
.form__wrapper-field {
   width: 526px;
}
.form-field__label {
   display: block;

   margin-bottom: 40px;
}
.form-field__title {
   display: block;

   margin-bottom: 8px;
}
.input {
   font-size: 22px;
   padding: 15px;

   outline: transparent;
   border: transparent;
   color: var(--main-white);
   background-color: var(--light-dark);

   transition: border 250ms linear;
}
.input:focus {
   border: 1px solid var(--purple-color);
}
.form-field__input {
   display: block;
   width: 100%;
   height: 50px;
}
.form-field__comment {
   width: 526px;
   height: 100px;

   margin-bottom: 40px;

   resize: none;
}
.form__button {
   width: 100%;
   padding: 24px 32px;
}
/* Footer */
.footer {
   background-color: var(--light-dark);
}
.footer__container {
   display: flex;

   padding: 80px 182px 80px 72px;
}
.logo {
}
.footer__logo {
   margin-bottom: 32px;
}
.footer__left-part {
   margin-right: auto;
}
.footer-left-part__list {
   display: flex;
   align-items: center;
   gap: 16px;
}
.footer-left-part__item {
}
.footer-left-part__link {
}
.icon--twitter {
   fill: #26a7de;
}
.icon--dribble {
   fill: #e94b88;
}
.icon--linkedin {
   fill: #0077b5;
}
.footer-left-part__icon {
   transition: fill 250ms linear;
}
.footer-left-part__link:hover .footer-left-part__icon,
.footer-left-part__link:focus .footer-left-part__icon {
   fill: var(--purple-color);
}

.footer-center__wrapper {
   display: flex;
}
.footer-center__list--right {
   margin-right: 220px;
}
.footer-center__item {
}
.footer-center__link {
   display: inline-block;
   padding-bottom: 16px;

   color: var(--main-white);
}
.footer-center__link:last-child {
   padding-bottom: 16px;
}
.footer-center__link:hover {
   text-decoration: underline;
}
