.menu__button {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 40px;
   height: 40px;
   padding: 0;
   margin-left: auto;

   background-color: transparent;
   border: none;
   cursor: pointer;

   transition: fill 250ms var(--main-transition);
   &:hover,
   &:focus {
      fill: var(--purple-color);
   }

   @media screen and (min-width: 768px) {
      display: none;
   }
}
.menu__icon,
.menu__close {
   fill: #c4c4c4;

   // &:hover,
   // &:focus {
   //    fill: var(--purple-color);
   // }
}
.menu__button {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 40px;
   height: 40px;
   padding: 0;

   background-color: transparent;
   border: none;
   cursor: pointer;

   transition: fill 250ms var(--main-transition);
   &:hover,
   &:focus {
      fill: var(--main-accent);
   }

   @media screen and (min-width: 768px) {
      display: none;
   }
}
.menu__button--close {
   position: absolute;
   top: 18px;
   right: 38px;
}
.menu__container {
   position: fixed;
   top: 0;
   right: 0;
   display: flex;
   flex-direction: column;

   width: 70%;
   height: 100%;
   padding: 48px 40px 48px 40px;

   background-color: var(--main-dark);

   transform: translateX(100%);
   transition: transform 400ms linear;

   &.is-open {
      transform: translateX(0);
   }
}
.menu__nav {
   @extend %list;
}
.menu-nav__item {
}
.menu-nav__link {
   @extend %link;

   display: inline-block;
   font-size: 20px;
   padding-top: 32px;
   padding-bottom: 32px;
   padding-right: 24px;
   padding-left: 24px;

   transition: background-color 250ms linear;

   color: var(--main-white);

   &:hover,
   &:focus {
      background-color: var(--purple-color);
   }
}
