/**
  |============================
  | Values (pink sections)
  |============================
*/
.values {
   background-color: var(--yellow-color);
}
.values__container {
   display: flex;
   align-items: center;
}
.values__wrapper {
   padding: 120px 72px;
   width: 50%;
}
.values__header {
   @include fonts;

   margin-bottom: 24px;

   color: var(--light-dark);
}
.values__description {
   width: 576px;

   @include font-size;

   margin-bottom: 134px;

   color: #5b6876;
}
.values__img {
   background-color: var(--yellow-color);
}
