@import 'decimals';

@mixin fonts($fw: 700, $fs: 55px, $lh: 66px) {
   font-weight: $fw;
   font-size: $fs;
   line-height: decimal-round($lh / $fs);
}
@mixin weight($fw: 700) {
   font-weight: $fw;
}
@mixin font-size($fs: 18px) {
   font-size: $fs;
}
@mixin container($pt: 120px, $pr: 72px, $pb: 120px, $pl: 72px) {
   padding-top: $pt;
   padding-right: $pr;
   padding-bottom: $pb;
   padding-left: $pl;
}
@mixin section($pt: 120px, $pb: 120px) {
   padding-top: $pt;
   padding-bottom: $pb;
}
