/**
  |============================
  | Vars
  |============================
*/
:root {
   --main-dark: #000000;
   --main-gray: #8491a0;
   --light-dark: #181823;
   --light-gray: #deecf9;
   --dark-gray: #c7e0f4;
   --main-white: #fff;
   --purple-color: #5221e6;
   --green-color: #3cc74e;
   --pink-color: #e95d90;
   --yellow-color: #fff3e4;
   --violet-color: #fbe4ff;
}
