/**
  |============================
  | Companies
  |============================
*/

.companies {
   @include section(48px, 48px);
   background-color: var(--main-dark);

   @media screen and (min-width: 768px) {
      @include section(80px, 80px);
   }
   @media screen and (min-width: 1440px) {
      @include section(120px, 120px);
   }
}
.companies__container {
}
.companies__title {
   @include weight;

   text-transform: uppercase;

   margin-bottom: 8px;

   color: var(--main-gray);
}
.companies__header {
   margin-bottom: 40px;

   @include fonts(700, 32px, 38px);

   @media screen and (min-width: 768px) {
      @include fonts;
      width: 688px;
   }
   @media screen and (min-width: 1440px) {
      width: 690px;
   }
}
.companies__list {
   @extend %list;
   display: flex;
   align-items: baseline;
   gap: 40px;
   flex-direction: column;
   justify-content: center;

   @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 24px;
   }
   @media screen and (min-width: 1440px) {
   }
}
.companies__item {
   @media screen and (min-width: 768px) {
      width: calc((100% - 48px) / 3);
   }
}
.companies__icon {
   fill: var(--main-gray);
}
.companies__wrapper {
   @media screen and (min-width: 768px) {
      padding-right: 15px;
   }
   @media screen and (min-width: 1440px) {
      padding-right: 77px;
   }
}
.companies__job {
   font-weight: 700;
   font-size: 24px;
   margin-bottom: 16px;

   @media screen and (min-width: 768px) {
      // width: 197px;
      margin-bottom: 24px;
   }
   @media screen and (min-width: 1440px) {
      // width: auto;
      margin-bottom: 22px;
   }
}
.companies__span {
   &--green {
      color: var(--green-color);
   }
   &--blue {
      color: #609bff;
   }
   &--pink {
      color: var(--pink-color);
   }
}

.companies__description {
   color: var(--main-gray);
   // width: 320px;

   @media screen and (min-width: 768px) {
      width: 197px;
   }
   @media screen and (min-width: 1440px) {
      width: 368px;
   }
}
