/**
  |============================
  | Dribble
  |============================
*/

.dribble {
   @include section(64px, 64px);

   background-color: var(--main-dark);

   @media screen and (min-width: 768px) {
      @include section(80px, 80px);
   }
   @media screen and (min-width: 1440px) {
      @include section(120px, 120px);
   }
}
.dribble__container {
   padding-right: 20px;
   padding-left: 20px;

   @media screen and (min-width: 768px) {
      padding-right: 40px;
      padding-left: 40px;
   }
   @media screen and (min-width: 1440px) {
      padding-right: 182px;
      padding-left: 182px;
   }
}

.dribble__wrapper {
   margin-bottom: 64px;

   @media screen and (min-width: 768px) {
      margin-bottom: 80px;
   }
   @media screen and (min-width: 1440px) {
      margin-bottom: 120px;
   }
}
.dribble__title {
   @include fonts;

   margin-bottom: 24px;
}
.dribble__description {
   @include font-size;

   margin-bottom: 40px;

   color: var(--main-gray);
}
.dribble__link {
   color: var(--main-white);
}
