/**
  |============================
  | Hero
  |============================
*/
.hero {
   padding-top: 158px;
   padding-right: 40px;

   background-color: var(--main-dark);
}
.hero__container {
   border-bottom: 7px dashed grey;
   padding-bottom: 82px;
}
.hero__img {
   width: 750px;
   height: 650px;
}
.hero__text-wrapper {
   position: absolute;
   left: 702px;
   top: 299px;
}
.animate__backInRight {
   --animate-duration: 2s;
}
.hero__title {
   width: 738px;
   font-weight: 700;
   font-size: 78px;
   line-height: calc(94 / 78);

   margin-bottom: 32px;

   color: #ffffff;
}

.hero__grey {
   color: rgba(255, 255, 255, 0.5);
}
.hero__description {
   width: 738px;
   font-size: 18px;
}
