/**
  |============================
  | Photos
  |============================
*/

.photos {
   @include section(120px, 120px);
   background-color: var(--main-dark);
}
.photos__container {
}
.photos__title {
   @include fonts;

   margin-bottom: 24px;
}
.photos__description {
   width: 551px;
   margin-bottom: 64px;

   color: var(--main-gray);
}
.tabs {
   margin-bottom: 40px;
}
.tabs__button {
   @extend %link;
   display: inline-block;
   padding: 12px 16px;
}
.tabs__button:not(:last-child) {
   margin-right: 24px;
}
.tabs__button--active {
   background-color: var(--purple-color);
}
.photos__list {
   @extend %list;

   display: flex;
   align-items: center;
   justify-content: center;
   gap: 24px;
}
.photos__item {
}
.photos__img {
}
