/**
  |============================
  | Reviews
  |============================
*/
.reviews {
   background-color: var(--main-dark);
   padding: 120px 72px;
}
.reviews__container {
   display: flex;
   gap: 72px;
   justify-content: center;
}
.reviews__title {
   width: 588px;

   font-weight: 700;
   font-size: 55px;
   line-height: calc(66 / 55);

   margin-bottom: 24px;

   color: var(--main-white);
}
.reviews__description {
   width: 588px;

   font-size: 18px;

   margin-bottom: 40px;

   color: var(--main-gray);
}
.reviews__link {
   color: var(--main-white);
}
.reviews__list {
}
.reviews__item {
}
.reviews__item:not(:last-child) {
   margin-bottom: 120px;
}
.reviews__list__wrapper {
   width: 636px;

   padding: 64px;

   border: 1px solid #5b6876;
}
.reviews__comment {
   width: 508px;

   font-weight: 700;
   font-size: 24px;

   margin-bottom: 64px;
}
.reviews__name {
   font-weight: 700;
   font-size: 18px;

   margin-bottom: 4px;

   color: #5b6876;
}
.reviews__company {
   font-weight: 700;
   font-size: 18px;

   color: #5b6876;
}
