/**
  |============================
  | Reviews
  |============================
*/
.reviews {
   @include section(120px, 120px);
   background-color: var(--main-dark);
}
.reviews__container {
   display: flex;
   gap: 72px;
   justify-content: center;
}
.reviews__title {
   width: 588px;
   margin-bottom: 24px;

   @include fonts;

   color: var(--main-white);
}
.reviews__description {
   width: 588px;
   margin-bottom: 40px;

   @include font-size;

   color: var(--main-gray);
}
.reviews__link {
   color: var(--main-white);
}
.reviews__list {
   @extend %list;
}
.reviews__item {
}
.reviews__item:not(:last-child) {
   margin-bottom: 120px;
}
.reviews__list__wrapper {
   width: 636px;
   padding: 64px;

   border: 1px solid #5b6876;
}
.reviews__comment {
   width: 508px;
   margin-bottom: 64px;

   @include fonts(700, 24px, 36px);
}
.reviews__name {
   margin-bottom: 4px;

   @include weight;
   @include font-size;

   color: #5b6876;
}
.reviews__company {
   @include weight;
   @include font-size;
   color: #5b6876;
}
