/**
  |============================
  | Reviews
  |============================
*/
.reviews {
   @include section(48px, 48px);
   background-color: var(--main-dark);

   @media screen and (min-width: 768px) {
      @include section(80px, 80px);
   }
   @media screen and (min-width: 1200px) {
      @include section(120px, 120px);
   }
}
.reviews__container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 64px;

   @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 23px;
   }
   @media screen and (min-width: 1200px) {
      gap: 72px;
   }
}
.reviews__title {
   margin-bottom: 16px;

   @include fonts(700, 32px, 38px);

   color: var(--main-white);

   @media screen and (min-width: 768px) {
      @include fonts;
      margin-bottom: 24px;
   }
}
.reviews__description {
   margin-bottom: 40px;

   @include font-size;

   color: var(--main-gray);
}
.reviews__link {
   color: var(--main-white);
}
.reviews__list {
   @extend %list;
}
.reviews__item {
}
.reviews__item:not(:last-child) {
   margin-bottom: 48px;

   @media screen and (min-width: 768px) {
      margin-bottom: 64px;
   }
   @media screen and (min-width: 1200px) {
      margin-bottom: 120px;
   }
}
.reviews__list__wrapper {
   padding: 32px;

   border: 1px solid #5b6876;

   @media screen and (min-width: 1200px) {
      padding: 64px;
   }
}
.reviews__comment {
   width: auto;

   margin-bottom: 64px;

   @include fonts(700, 24px, 36px);

   @media screen and (min-width: 360px) {
      width: 269px;
   }
   @media screen and (min-width: 768px) {
   }
   @media screen and (min-width: 1200px) {
      width: 508px;
   }
}
.reviews__name {
   margin-bottom: 4px;

   @include weight;
   @include font-size;

   color: #5b6876;
}
.reviews__company {
   @include weight;
   @include font-size;
   color: #5b6876;
}
