/**
  |============================
  | Skills
  |============================
*/
.skills {
   @include section(120px, 120px);
   background-color: var(--main-dark);
}
.skills__container {
   display: flex;
   flex-direction: column;
   gap: 48px;

   @media screen and (min-width: 768px) {
      flex-direction: column;
   }
   @media screen and (min-width: 1440px) {
      gap: 0;
      flex-direction: row;
   }
}
.skills__text-wrapper {
   @media screen and (min-width: 768px) {
   }
   @media screen and (min-width: 1440px) {
      padding-right: 48px;
      margin-right: 24px;
   }
}
.skills-header__title {
   margin-bottom: 16px;

   @include fonts(700, 32px, 38px);

   @media screen and (min-width: 768px) {
      @include fonts;
      margin-bottom: 24px;
   }
   @media screen and (min-width: 1440px) {
   }
}
.skills-header__description {
   // width: 368px;
   @include font-size;

   color: var(--main-gray);
}
.skills__list {
   @extend %list;

   display: flex;
   flex-wrap: wrap;
   align-items: center;

   gap: 48px;

   @media screen and (min-width: 768px) {
      gap: 24px;
      justify-content: center;
   }
   @media screen and (min-width: 1440px) {
   }
}
.skills__item {
   @media screen and (min-width: 768px) {
      width: calc((100% - 24px) / 2);
      gap: 24px;
      padding-right: 48px;
   }
   @media screen and (min-width: 1440px) {
   }
}
.skills__icon {
   margin-bottom: 24px;
}
.skills__job {
   margin-bottom: 12px;
}
.skills__description {
   // width: 368px;
   color: var(--main-gray);
}
